<body>
  <h1 [style.background-color]="titleColor">
    The cureent color of the title is: {{ titleColor }}
  </h1>

  <!-- <div>
    <label for="instant">
      Introduceti aici culoarea pentru modificare in timp real:
    </label>
    <input id="instant" type="text" [(ngModel)]="titleColor" />
  </div>

  <div class="class1">
    <label for="instant"
      >Introduceti aici culoarea pentru modificare dupa apasarea butonului:
    </label>
    <input id="apasare" type="text" #apasare />

    <button type="button" (click)="modificareCuloare(apasare.value)">
      Modifica
    </button>
  </div> -->

  <form class="form" >
    <mat-form-field class="form-input" appearance="fill">
      <mat-label> Instant color </mat-label>
      <input name="titleColor" [(ngModel)]="titleColor" matInput />
    </mat-form-field>

    <mat-form-field class="form-input" appearance="fill">
      <mat-label> Introduce a color </mat-label>
      <input type="text" matInput #press />
    </mat-form-field>
    <button mat-button (click)="colorModification(press.value)">Submit</button>
  </form>

  <!-- <p [style.color] = 'titleColorString'>
  Title is: {{title}}
</p>

<p >
 Text is: {{noteContent}}
</p>
<input type="text" [(ngModel)]="noteContent"/>
<button mat-icon-button (click)='functie()'
> <mat-icon>add</mat-icon></button>
<mat-form-field>
  <input matInput placeholder="Add Note" >
</mat-form-field> -->
</body>
