.add-note-card {
     width: 150px;
      height: 150px;
      margin: 20px 15px 20px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aquamarine;
  }
  .add-note-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
