<div class="main-container">
  <div class="child">
    <h1>Add a note</h1>

    <form class="form-input">
      <label>Title</label>
      <mat-form-field>
        <input
          matInput
          name="inputNote"
          placeholder="Title"
          [formControl]="title"
          required
        />
      </mat-form-field>

      <label>Description</label>
      <mat-form-field>
        <textarea
          matInput
          name="inputNote"
          placeholder="Description"
          [formControl]="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="category">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div
        *ngIf="title.invalid && (title.dirty || title.touched)"
        class="alert"
      >
        <div *ngIf="title.errors?.['required']"></div>
      </div>

      <button mat-button (click)="clickAdd()">Add</button>
    </form>
  </div>
</div>
