<div *ngFor="let note of notes" class="notes">
  <mat-card class="note-card">
    <mat-card-header class="title">
      {{ note.title }}
    </mat-card-header>

    <mat-card-content class="description">
      {{ note.description }}
    </mat-card-content>

    <mat-card-actions class="buttons">
      <button mat-mini-fab color="accent" routerLink= "app-modificate-note/{{note.id}}"
      
      >
        <mat-icon>border_color</mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon (click)="deleteNote(note)">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
